.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox label::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  margin-right: 5px;
}

.custom-checkbox input[type="checkbox"]:checked + label::before {
  background-color: red;
}
