* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
}

.container .right-part {
  position: absolute;
  top: 50%;
  left: 50%;
}

.container .left-part div {
  position: absolute;
  top: 25%;
  left: 25%;
}

.container .left-part div input {
  border: 0;
  border-bottom: 1px solid black;
}
